
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<!--<div layout:fragment="content" class="">-->
<!--    <div class="main__first_screen">-->
<!--        <h1>-->
<!--            Управление <br />-->
<!--            подбором кадров. <br />Просто и <br />эффективно-->
<!--        </h1>-->
<!--        <div class="first_screen__list">-->
<!--            <ul style="list-style-image: url(./img/ellipse.png)">-->
<!--                <li>Подбора персонала</li>-->
<!--                <li>Оптимизация времени</li>-->
<!--                <li>Повышение эффективность</li>-->
<!--                <li>Лучшие кандидатов</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="first_screen__button">-->
<!--            <button>Бесплатная консультация</button>-->
<!--        </div>-->
<!--        <img src="./img/photo.png" alt="" />-->
<!--    </div>-->
<!--    <div class="main__advantages">-->
<!--        <div class="advantages__card">-->
<!--            <div class="card__top">-->
<!--                <img src="./img/money.png" class="card__top__img" alt="money" />-->
<!--                <h3>-->
<!--                    Отсутствует <br />-->
<!--                    предоплата-->
<!--                </h3>-->
<!--            </div>-->
<!--            <p>-->
<!--                платите только после успешного <br />-->
<!--                закрытия вакансии-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="advantages__card">-->
<!--            <div class="card__top">-->
<!--                <img src="./img/garanty.png" class="card__top__img" alt=""/>-->
<!--                <h3>Гарантия <br />подбора</h3>-->
<!--            </div>-->
<!--            <p>-->
<!--                гарантируем закрытие вакансии <br />-->
<!--                в определенный срок или <br />-->
<!--                возвращаем часть средств-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="advantages__card">-->
<!--            <div class="card__top">-->
<!--                <img src="./img/resume.png" class="card__top__img" alt=""/>-->
<!--                <h3>-->
<!--                    Широкая база <br />-->
<!--                    кандидатов-->
<!--                </h3>-->
<!--            </div>-->
<!--            <p>имеется обширная база резюме</p>-->
<!--        </div>-->
<!--        <div class="advantages__card">-->
<!--            <div class="card__top">-->
<!--                <img src="./img/podhod.png" class="card__top__img" alt="" />-->
<!--                <h3>-->
<!--                    Индивидуальный <br />-->
<!--                    подход-->
<!--                </h3>-->
<!--            </div>-->
<!--            <p>-->
<!--                учитываем специфику каждого<br />-->
<!--                клиента-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="main__work-card">-->
<!--        <h2>Работа для всех</h2>-->
<!--        <div class="main__work-card__cards">-->
<!--            <div class="main__work-card__cards__card develop" style="background-image: url(./img/develop.jpg)">-->
<!--                <div class="main__work-card__cards__card__top">-->
<!--                    <h4>Разработка</h4>-->
<!--                </div>-->
<!--                <button id="Button_develop"><img src="./img/Arrow.png" alt="" /></button>-->
<!--            </div>-->
<!--            <div class="main__work-card__cards__card develop" style="background-image: url(./img/design.jpg)">-->
<!--                <div class="main__work-card__cards__card__top">-->
<!--                    <h4>Дизайн и UI/UX</h4>-->
<!--                </div>-->
<!--                <button id="Button_design"><img src="./img/Arrow.png" alt="" /></button>-->
<!--            </div>-->
<!--            <div class="main__work-card__cards__card develop"  style="background-image: url(./img/safety.jpg)">-->
<!--                <div class="main__work-card__cards__card__top">-->
<!--                    <h4>Инфраструктура <br />и безопасность</h4>-->
<!--                </div>-->
<!--                <button id="Button_safety"><img src="./img/Arrow.png" alt="" /></button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="main__colleagues">-->
<!--        <h2>Компании, уже работающие с нами</h2>-->
<!--        <div class="main__colleagues__row">-->
<!--            <img src="./img/askona.png" alt="" style="width: 167px; height: 60px" />-->
<!--            <img src="./img/atlant.png" alt="" />-->
<!--            <img src="./img/elecon.jpg" alt="" style="width: 157px; height: 70px" />-->
<!--        </div>-->
<!--        <div class="main__colleagues__row">-->
<!--            <img src="./img/planogramma.png" style="width: 167px; height: 60px" alt="" />-->
<!--            <img src="./img/sberbank.png" style="width: 167px; height: 60px" alt="" />-->
<!--            <img src="./img/technoworld.jpg" style="width: 157px; height: 50px" alt="" />-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<div layout:fragment="content" class="">
    <div class="conteiner">
        <div class="title">
            <h2>Акционные товары</h2>
        </div>
        <div class="head2">
            <!--            <div class="search">-->
            <!--                <img src="./img/logo.png" alt="">-->
            <!--                <div class="search_poisk">-->
            <!--                    <a href="./catalog.html"><button class="btn_catalog">Каталог</button></a>-->
            <!--                    <input type="text" placeholder="Поиск">-->
            <!--                </div>-->
            <!--                <button class="search_btn">-->
            <!--                    <img src="./img/search.png" alt="">-->
            <!--                </button>-->
            <!--            </div>-->
            <div class="deliver_login">
                <a href="">
                    <button>Доставка</button>
                </a>
                <div class="d1">
                    <a href="./login.html">
                        <img src="./img/login.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="header3">
            <div class="good">
                <h1>GOOD FOOD</h1>
                <div class="line"></div>
                <h2>Самая свежая и качественная продукция</h2>
            </div>
            <div class="dignities">
                <ul>
                    <li>Проверенные
                        продукты</li>
                    <li>Ежедневные
                        акции</li>
                    <li>Широкий выбор товаров</li>
                    <li>Большой
                        ассортимент</li>
                    <li>Бесплатная доставка</li>
                    <li>Скидки пенсионерам</li>
                    <li>Соответствие
                        госту</li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="box_flex">
                <div class="box Duhov">
                    <div class="box_img">
                        <img src="./catalog_img/kefir.jpg" alt="">
                    </div>
                    <div class="text">
                        <h3><a href="#">Кефир</a></h3>
                        <hr>
                        <section>100&#8381</section>
                        <article>Категория: Молочные</article>
                    </div>
                </div>
                <div class="box Duhov">
                    <div class="box_img">
                        <img src="./catalog_img/candyes.jpg" alt="">
                    </div>
                    <div class="text">
                        <h3><a href="#">Конфеты</a></h3>
                        <hr>
                        <section>100&#8381</section>
                        <article>Категория: К чаю</article>
                    </div>
                </div>
                <div class="box Duhov">
                    <div class="box_img">
                        <img src="./catalog_img/apple.jpg" alt="">
                    </div>
                    <div class="text">
                        <h3><a href="#">Яблоки</a></h3>
                        <hr>
                        <section>100&#8381</section>
                        <article>Категория: Фрукты</article>
                    </div>
                </div>
                <div class="box Duhov All">
                    <div class="box_img">
                        <img src="./catalog_img/yogurt.jpg" alt="">
                    </div>
                    <div class="text">
                        <h3><a href="#">Йогурт</a></h3>
                        <hr>
                        <section>100&#8381</section>
                        <article>Категория: Молочные</article>
                    </div>
                </div>
                <div class="box Duhov All">
                    <div class="box_img">
                        <img src="./catalog_img/kapusta.jpg" alt="">
                    </div>
                    <div class="text">
                        <h3><a href="#">Капуста</a></h3>
                        <hr>
                        <section>100&#8381</section>
                        <article>Категория: Овощи</article>
                    </div>
                </div>
                <div class="box Duhov All">
                    <div class="box_img">
                        <img src="./catalog_img/pelmen.jpg" alt="">
                    </div>
                    <div class="text">
                        <h3><a href="#">Пельмени</a></h3>
                        <hr>
                        <section>100&#8381</section>
                        <article>Категория: Замороженные</article>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog_btn">
            <a href="/catalog" class="btn_catalog">
                <button>Открыть каталог</button>
            </a>
        </div>
    </div>
</div>

</body>
</html>


</body>
</html>


